<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Briephly</h1>
      <p><ngb-progressbar type="warning" [value]="75" [striped]="true" [animated]="true" *ngIf="!allnews"><i>Brewing news</i></ngb-progressbar></p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12" *ngFor="let news of allnews">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" [src]="news.newsImageUrl" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{news.title}}</h5>
              <p class="card-text">{{news.newsShortSummary}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a [href]="news.newsUrl"  target="_blank"  class="btn btn-sm btn-outline-secondary">View full news</a>
                </div>
                <small class="text-muted">{{news.publishedAt}}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
